<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1 class="page-title">{{title}}</h1>
  </header>

  <main>
    <div class="product-feed">
    {{#each products}}
      <a href="/products/{{this._id}}" class="product-feed-item">
        <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}" class="product-feed-img" />
      </a>
    {{/each}}
  </div>
  </main>

  <footer>
    <p>&copy; 2025 Ropa Deportiva Femenina</p>
  </footer>
</body>
</html>
